<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>UPCRA - Search</title>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/js/custom.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

	<style>
		body {font-family: 'Open Sans', sans-serif}
	</style>
</head>

<body class="searchbody">

	
  <h1>Basic Search</h1>

<div class="row">
<form class="form-inline" role="form" action="/search" method="post">
		<div class="form-group">
	            <select class="form-control" name="category">
	                <!-- <option value="all" name="category" selected>All</option> -->
	                <option value="author"  selected>Author</option>
	                <option value="title" name="category" >Title</option>
	                <option value="field" name="category">Field</option>
	            </select>
	    </div>
		<div class="form-group">
	        <input class="form-control" type="text" name="key" />
	    </div>

    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</form>

<!-- {% for work in works %}
	{% if work.name != null %}
	<p>Author: {{ work.name }}</p>
	{% else %}
	<p>Title: {{ work.title }}</p>
	<p>Field: {{ work.field }}</p><br>
	{% endif %}
{% endfor %}
</div> -->

<table class="table" id="resultsTable">
	<tbody>
		{%for work in works %}
		<tr>
			<td width="90%">
			<div class="resultItem">
				{% if work.name != null %}
				<p><a href="#">{{ work.name }}</a></p>
				{% else %}
				<h4><b>{{ work.title }}</b></h4>
				{{ work.field }}
				{% endif %}
			</div>
			</td>
		<td width="10%"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Preview</button></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</body>
</html>
