<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<form action="/signup" method="post" name="signup">
		<label for="name">Name</label>
		<input type="text" name="name"> <br>

		<label for="email">Email</label>
		<input type="text" name="email"><br>

		<label for="password">Password</label>
		<input type="password" name="password"><br>

		<label for="confirm_password">Confirm Password</label>
		<input type="password" name="confirm_password"><br>
		<button>Sign up</button>
	</form>
	<br>
	<br>
	<form action="/signin" method="post" name="signin">
		<label for="email">Email</label>
		<input type="text" name="email"><br>

		<label for="email">Password</label>
		<input type="password" name="password"><br>

		<button>Sign in</button>
	</form>
</body>
</html>