<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>UPCRA</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">

	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
</head>
<body>
	<div class="page-header">
		<div class="container-fluid">
			<div class="col-md-6 col-xs-6" id="logo">
			    <a href="/">
			    	<img class="shadow" src="/static/img/logo.png">
			    </a>
			</div>
	    	<div class="col-md-6 col-xs-6">
	    		<div id="sign-in">
			      	<form class="form-inline" method="POST" action="/signin">
					  <div class="form-group">
					    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email Address">
					  </div>
					  <div class="form-group">
					    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
					  </div>
					  <button type="submit" class="btn btn-default">SIGN IN</button>
					  <a role="button" class="btn btn-primary" href="/sign-up">SIGN UP</a>
					</form>
		     	</div>

		    </div>
	 	</div>
	{% for work in works %}
		<a href="/file/{{ work.id }}">{{ work.title }}</a><br>
	{% endfor %}
</body>
</html>
