<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>UPCRA - Search</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/static/js/custom.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

	<style>
		body {font-family: 'Open Sans', sans-serif}
	</style>
</head>

<body>
	<div class="page-header">
		<div class="container-fluid">
			<div class="col-md-6 col-xs-6" id="logo">
					<a href="/">
						<img class="shadow" src="/static/img/logo.png">
					</a>
			</div>
			<form class="" style="float: right" action="/signout" method="post">
					<button type="submit" class="btn btn-default">SIGN OUT</button>
			</form>
		</div>
	</div>
	<div class="navbar navbar-default">
			<ul class="nav navbar-nav">
				<li class="text-center"><p class="navbar-cat">ONLINE CATALOG</p></li>
				<li class="text-center"><a id="basicSearch" onclick="load_bSearch()" href="/search">Basic Search</a></li>
				<li class="text-center"><a id="advSearch" onclick="load_aSearch()" href="/listing">Listing</a></li>
			</ul>
	</div>
	<div class="container">

		<h1>Upload your Work</h1>
		<div class="row">
			<form class="form-inline" role="form"  action="/upload-file" method="post" enctype="multipart/form-data">

			<div class="uploadcontainer">
				<div class="input-group file-cation-main">
					<input type="file" name="file" class="file">
				</div>
			</div>
			<div class="form-group">
		        <input class="form-control" type="text" name="title" placeholder="Title" />
		    </div>
		    <div class="form-group">
		        <input class="form-control" type="date" name ="date" placeholder="Date" />
		    </div>
		    <div class="form-group">
		        <input class="form-control" type="text" name="field" placeholder="Field" />
		    </div>
		    <div class="form-group">
		        <!-- <input class="form-control" type="text" name="abstract" placeholder="Abstract" /> -->
						<textarea class="form-control" name="abstract" placeholder="Abstract" rows="8" cols="80"></textarea>
		    </div>
	    	<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-upload"></span></button>
			</form>
		</div>


	</div>
</body>
</html>
