<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/search-work" method="post">
      <input type="text" name="searchFor" value="">
      <input type="radio" name="author" value="Author">Author</input>
      <input type="radio" name="title" value="Title">Title</input>
      <input type="radio" name="course" value="Course">Course</input>
      <button type="button" name="button">Search</button>

      {{for }}
    </form>
  </body>
</html>
