<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>UPCRA - Search</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/custom.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../static/js/custom.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

	<style>
		body {font-family: 'Open Sans', sans-serif}
	</style>
</head>

<body class="searchbody">

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>Search Results</b></div>
  <div class="panel-body">
  <!-- Table -->
  <table class="table" id="resultsTable">
    <tbody>
      <tr>
        <td width="90%">
		    <div class="resultItem">
		       <h4><b>Title</b></h4>
		       <p>Author:</p>
		    </div>
        </td>
    	<td width="10%"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Preview</button></td>
      </tr>
      <tr>
        <td width="90%">
		    <div class="resultItem">
		       <h4><b>Title</b></h4>
		       <p>Author:</p>
		    </div>
        </td>
    	<td width="10%"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Preview</button></td>
      </tr>
      <tr>
        <td width="90%">
		    <div class="resultItem">
		       <h4><b>Title</b></h4>
		       <p>Author:</p>
		    </div>
        </td>
    	<td width="10%"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Preview</button></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Abstract</h4>
      </div>
      <div class="modal-body">
        <p>Insert Sample Here</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
              

<script type="text/javascript">
	

</script>                        



</body>
</html>



