<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
	<div id="signup">
		<div class="container-fluid">
			<div class="logo-dash">
			    <a href="/">
			    	<img class="shadow" src="/static/img/logo.png">
			    </a>
			</div>

	 	</div>
	  <!-- .container-fluid -->
	  	<div class="main-content">
<!-- <<<<<<< HEAD
			<form action="/signup" method="post" name="signup">
				<div class="title-row">
					<h2 class="text-center">SIGN UP</h2>
				</div>
				<label for="last_name">Name</label>
				<input type="text" name="name"><br>

				<label for="email">Email</label>
				<input type="text" name="email"><br>

				<label for="password">Password</label>
				<input type="password" name="password"><br>

				<label for="confirm_password">Confirm Password</label>
				<input type="password" name="confirm_password"><br>
				<button>Sign up</button>
			</form>
======= -->
	  		<div class="container">
	  			<div class="row">
	  				<form action="/signup" method="post" name="signup">
						<div class="title-row">
							<h2 class="text-center">SIGN UP</h2>
							<hr>
						</div>
						<div class="input-design text-center">
							<input class="input" type="text" name="name" placeholder="Name">
						</div>
						<div class="input-design text-center">
							<input class="input" type="text" name="email" placeholder="Email">
						</div>

						<div class="input-design text-center">
							<input class="input" type="password" name="password" placeholder="Password">
						</div>

						<div class="input-design text-center">
							<input class="input" type="password" name="confirm_password" placeholder="Confirm Password">
						</div>
						<div class="text-center">
							<input role="button" class="btn btn-primary" type="submit" value="Sign Up">
						</div>

					</form>
	  			</div>
	  		</div>

		</div>
	</div>
	<!-- #signup -->

	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/custom.js"></script>
</body>
</html>
